.profile-dropdown {
    position: fixed !important;

    left: 87% !important;
    top: 100px !important;
}

.alert-position {
    max-width: 350px !important;
    min-width: 300px !important;

    max-height: 300px !important;

    position: fixed !important;

    left: 80% !important;
    bottom: 20px !important;

}

.card-hover:hover {
    transform: scale(1.05) !important;

    transition-property: all !important;
    transition-duration: 300ms !important;
}

.card-max-h {
    height: 250px !important;
}