.profile-dropdown {
    position: fixed !important;

    max-width: 220px !important;

    left: auto !important;
    right: 5px !important;
    top: 100px !important;
}

.cart-dropdown {
    position: fixed !important;

    min-width: 200px !important;
    max-width: 400px !important;

    left: auto !important;
    right: 5px !important;
    top: 100px !important;;
}

.alert-position {
    max-width: 350px !important;
    min-width: 300px !important;

    max-height: 300px !important;

    position: fixed !important;

    left: auto !important;
    right: 1% !important;
    bottom: 40px !important;

}

.card-hover:hover {
    transform: scale(1.05) !important;

    transition-property: all !important;
    transition-duration: 300ms !important;
}

.card-max-h {
    height: 250px !important;
}

.carousel-img-max-h {
    height: 500px !important;
}

.cart-item {
    height: 250px !important;
}

.cart-img {
    height: 200px !important;
    width: auto !important;
    
}
.cart-img-min {
    height: 100px !important;
    width: auto !important;
}

.products-card {
    min-height: 400px !important;
}

.products-img {
    height: 230px !important;
    width: auto !important;
}

.product-img {
    height: 500px !important;
    width: auto !important;
}

.w-fit {
    width: fit-content !important;
}

.container-margin {
    margin-top: 130px !important;
}

.breadcrumb-margin {
    margin-top: 130px !important;
}

.search {
    position: fixed;

    background-color: white;

    width: 321px;
    height: fit-content;
    max-height: 30vh;

    top: 75px;
    left: 23%;

    border: 1px solid darkgray;

    overflow-x: hidden;
    overflow-y: scroll;

}


@media screen and (min-width: 768px) {
    .md-w-fit {
        width: fit-content !important;
    }
    .w-md-auto {
        width: auto !important;
    }
}

@media screen and (min-width: 992px) {
    .w-lg-auto {
        width: auto !important;
    }
}