{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}

	<form class="container mt-5" action="{{ path('login') }}" method="post">
		<h1 class="my-5 text-center">Connexion</h1>
		<div class="form-floating mt-3">
			<input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Example@example.com"/>
			<label for="username">E-mail:</label>
		</div>

		<div class="form-floating mt-3">
			<input class="form-control" type="password" id="password" name="_password" placeholder="example"/>
			<label for="password">Mot de passe:</label>
		</div>
		{% if error %}
			<div class="text-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
		{# If you want to control the URL the user is redirected to on success
								        <input type="hidden" name="_target_path" value="/account"/> #}

		<button class="btn btn-primary mt-3" type="submit">Connexion</button>
	</form>

{% endblock %}
