<nav class="footer navbar navbar-dark bg-primary row text-center mt-5">
	<div class="container-fluid">
		<ul class="col-12 col-lg-4 navbar-nav">
			<li class="nav-item">A propos</li>
			<li class="nav-item">CGV</li>
			<li class="nav-item">Information légales</li>
		</ul>
		<ul class="col-12 col-lg-4 navbar-nav">
			<li class="nav-item">Politique de confidentialité</li>
			<li class="nav-item">Paramètres de confidentialité</li>
			<li class="nav-item">Information légales</li>
		</ul>
		<ul class="col-12 col-lg-4 navbar-nav">
			<li class="nav-item">Politique de confidentialité</li>
			<li class="nav-item">Paramètres de confidentialité</li>
			<li class="nav-item">Information légales</li>
		</ul>
	</div>
</nav>
