{% extends 'base.html.twig' %}

{% block title %}Commandes
{% endblock %}

{% block body %}
	<div class="container my-5 container-margin">
		<h1 class="text-center">Vos commandes</h1>
	</div>
{% endblock %}
