{% extends 'base.html.twig' %}

{% block title %}Commande validée
{% endblock %}

{% block body %}
	<div class="container mt-5 container-margin">
		<p class="mt-5 text-center fs-1">
            Votre commande a été confirmée, vous allez être redirigés.
        </p>
	</div>
{% endblock %}
